{% extends 'base.html' %}
{% load static %}

{% block content %}



{% if profiles %}

    {% for profiles in profiles %}

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
             {% if profiles.profile_image %}

              <img src="{{ profiles.profile_image.url }}" width="200" height="200" class="img-fluid rounded-start  " alt="{{ profiles.user.username }}">

              {% else %}

             <!-- Example usage in template -->
              <img src="{% static 'twitterclone/images/profile_image_2.png' %}" width="200" height="200" class="img-fluid rounded-start" alt="Profile picture">
             {% endif %}        
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Username: {{ profiles.user.username }}</h5>
              <br/>
              <p class="card-text"> <a href="{% url 'profile' profiles.user.id %}">@{{ profiles.user.username|lower }} </a> </p>
              <br/> 
              <p class="card-text"><small class="text-body-secondary"> Last updated: {{ profiles.created_date }}</small></p>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}



{% endif %}

{% endblock  %}